{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <h1 class="title">Login</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="button is-primary" type="submit">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}